*       @aws-quickstart/sa @aws-quickstart/aws_quickstart_team
/.specific/* @aws-quickstart/tw @aws-quickstart/sa @aws-quickstart/aws_quickstart_team
*.adoc @aws-quickstart/tw @aws-quickstart/sa @aws-quickstart/aws_quickstart_team
